
.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputGroup {
  width: 100%;
  margin-top: 47px;
}

.inputLabel {
  display: flex;
  align-items: center;
  gap: 11px;
  color: #a6a6a6;
  font: 400 25px "Sakkal Majalla", -apple-system, Roboto, Helvetica, sans-serif;
}

.inputIcon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.inputField {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  font-size: 18px;
}

.rememberPassword {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 40px;
  font-size: 21px;
  color: #6b5e5e;
}

.checkbox {
  width: 25px;
  height: 25px;
}

.checkboxLabel {
  font: 400 21px "Sakkal Majalla", -apple-system, Roboto, Helvetica, sans-serif;
}

.forgotPassword {
  align-self: flex-end;
  color: #0386d0;
  font: 400 21px "Sakkal Majalla", -apple-system, Roboto, Helvetica, sans-serif;
  text-decoration: none;
  margin-top: 8px;
}

.loginButton {
  width: 100%;
  border-radius: 5px;
  background-color: #0386d0;
  color: #fff;
  padding: 10px;
  border: none;
  font: 400 25px "Sakkal Majalla", -apple-system, Roboto, Helvetica, sans-serif;
  cursor: pointer;
  margin-top: 37px;
}
